# Pandas - Series

## 1. Importing library
Let's use the **import** statement to invoke the ***Pandas library***

In [1]:
import pandas as pd

## 2. Series
It is a one dimensional array with axis label in it

### 2.1 Creating a series
We use **pandas.Series** to create series<br>
**1. Syntax** : pandas.Series(data, index=None, dtype=None, name=None, copy=False)<br>
**2. data** : Elements/Data to be stored in series<br>
**3. index=** : Labeling for the data. Must be **same length** as data<br>
**4. dtype=** (Optional) : Provide the type of data<br>
**5. name=** (Optional) : Name for the series<br>
**6. copy=** (Optional) : To copy input data<br>

In [13]:
#method 1
#lis1=[1,2,3,4,5]
#alphabet=pd.Series(lis1,index=['A',"B","C","D","E"])
# method 2
alphabet=pd.Series([1,2,3,4,5],index=['A',"B","C","D","E"])

### 2.2 Printing series

In [7]:
print(alphabet)

A    1
B    2
C    3
D    4
E    5
dtype: int64

## 3. Candidate Profile in Series

### 3.1 Creating a candidate profile in series

In [8]:

john=pd.Series([25,8.4,"AI Engineer",["AI","Ml","python","java"]],index=['Age',"CTC","Role","Skills"])

### 3.2 Printing the Candidate Profile

In [9]:
print(john)

Age                           25
CTC                          8.4
Role                 AI Engineer
Skills    [AI, Ml, python, java]
dtype: object

In [10]:
john[1:3]

CTC             8.4
Role    AI Engineer
dtype: object

In [15]:
alphabet.sort_values(ascending=False)

E    5
D    4
C    3
B    2
A    1
dtype: int64

In [17]:
#mean(),min(),max(),median()
alphabet.size

5